<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="/js/fos_js_routes.js"></script>
<script type="text/javascript">

    $(function () {
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
    /*    Toast.fire({
            icon: 'success',
            title: '{{ 'label.month'|trans }}'
        })*/

        $('#rental_contract_amount').val(0.0);
       // $('#alert_error').hide();
        $("input[type=checkbox]").change(function () {
            if ($(this).is(':checked')){
                //alert($(this).attr('data-amount'))
                var alltotal = parseFloat($('#rental_contract_amount').val()) + parseInt($(this).attr('data-amount'));
                $('#rental_contract_amount').val(alltotal);
            }else {
                var alltotal = parseFloat($('#rental_contract_amount').val()) - parseInt($(this).attr('data-amount'));
                $('#rental_contract_amount').val(alltotal);
            }
        })
        $('#save_rental_all').click(function () {
            var locals=[];
            if ($('#rental_typeRental option:selected').val()=="nuitee"){
                $("#listday input[type=checkbox]:checked").each(function () {
                    locals.push(this.value);
                });
            }
           // if ($('#rental_typeRental option:selected').val()=="mentionatly"){
                $("#listmonth_all input[type=checkbox]:checked").each(function () {
                    locals.push(this.value);
                });
          //  }
            $.ajax({
                url: "{{ path('rental_save_aa_ajax') }}",
                type: "POST",
                dataType: "JSON",
                data: {'item':locals,'year':$('#form_year option:selected').val()},
                success: function (data) {
                    Toast.fire({
                        icon: 'success',
                        title: '{{ 'response.successful'|trans }}'
                    })
                    window.open( Routing.generate('rental_index'),'_parent');
                },
                error: function (err) {
                    Toast.fire({
                        icon: 'error',
                        title: err
                    })
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                    }, 500);
                }
            });
        });
        //$('#search_month').hide();

        $('#rental_search').click(function () {
            $("#overlay").fadeIn(300);
            $.ajax({
                url: "{{ path('search_rental_ajax') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    item1: $("#form_item1 option:selected").val(),
                    item2: $("#form_item2 option:selected").val(),
                    item3: $("#form_item3 option:selected").val(),
                   // item4: $("#form_item4").val(),

                },
                success: function (data) {
                    console.log(data);
                    $("#navigation").hide();
                    var table = $("#table_rental>tbody");
                    table.html('');
                    for ($i=0;$i< data.length; $i++){
                        id_= data[$i].id;
                        var url= Routing.generate('rental_edit',{id: id_});
                        $("#table_rental>tbody:last").append("<tr id='" + data[$i].id + "'><td>" + data[$i].tenant + "</td><td>" + data[$i].status + "</td><td>" + data[$i].locals + "</td><td>" + data[$i].amount + "</td><td>" + data[$i].amountDue + "</td><td>" + data[$i].year + "</td><td>" + data[$i].month + "</td><td>" + data[$i].datecreated + "</td><td><div class='btn-group btn-group-sm'><a href='"+url+"' class='btn btn-sm btn-success'><i class='fa fa-edit'></i></a><a class='btn btn-sm btn-danger'><i class='fa fa-trash'></i></a></div></td></tr>");
                    }
                    $("#overlay").fadeOut(300);
                },
                error: function (err) {
                    $("#overlay").fadeOut(300);
                    swal("Error!", "Une erreur s'est produite: verifier les parametres.", "error");
                }
            });

        });
    });
    function getItem_id(id) {
        $("#item_id").val(id);
        $("#item_name").text(id);
        swal({
                title: "Are you sure?",
                text: "Are you sure you want to delete this item?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
            function(){
                $("#overlay").fadeIn(300);
                $.ajax({
                    url: "{{ path('rental_delete_ajax') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        item_id: id,
                    },
                    success: function (data) {
                        $("#overlay").fadeOut(300);
                        swal("Deleted!", "Your item has been deleted.", "success");
                        window.location.reload(true);
                    },
                    error: function (err) {
                        $("#overlay").fadeOut(300);
                        swal("Error!", "Une erreur s'est produite: erifier les parametres.", "error");
                    }
                });

            })
    }
</script>
