<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'label.login'|trans }} - C-Manager{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/adminlte.min.css') }}">
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block javascripts %}
        {# {{ parent() }} #}
        <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/adminlte.js') }}"></script>
        <script>
            var $window = $(window);
            var nav = $('.fixed-button');
            $window.scroll(function () {
                if ($window.scrollTop() >= 200) {
                    nav.addClass('active');
                } else {
                    nav.removeClass('active');
                }
            });
        </script>
    {% endblock %}
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Immo</b>MANAGER</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">{{ 'label.login'|trans }}</p>
            {% if error %}
                <div class="alert alert-danger">

                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form action="{{ path('security_login') }}" method="post">
                <div class="input-group mb-3">
                    <input type="text"id="username" class="form-control" name="_username" placeholder="{{ 'placeholder.email'|trans }}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'placeholder.password'|trans }}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                {{ 'label.remember_me'|trans }}
                            </label>
                        </div>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                    <!-- /.col -->
                    <div class="col-5">
                        <button type="submit" class="btn btn-primary btn-block">{{ 'button.connexion'|trans }}</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>

{# <section class="login p-fixed d-flex text-center bg-primary common-img-bg">

    <!-- Container-fluid starts -->
    <div class="container">
            {% if error %}
            <div class="alert alert-danger">

                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <div class="login-card card-block auth-body mr-auto ml-auto">
                <form action="{{ path('security_login') }}" method="post">

                    <div class="auth-box">
                        <div class="text-center">
                            <img width="300" src="{{ asset('assets/images/logo.png') }}" alt="logo.png">
                        </div>
                        <div class="row m-b-20">
                            <div class="col-md-12">
                                <h3 class="text-center txt-primary">{{ 'label.login'|trans }}</h3>
                            </div>
                        </div>
                        <hr/>
                        <div class="input-group">
                            <input type="text" id="username" class="form-control" name="_username" placeholder="{{ 'placeholder.mail'|trans }}">
                            <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                            <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'placeholder.password'|trans }}">
                            <span class="md-line"></span>
                        </div>
                        <div class="row m-t-25 text-left">
                            <div class="col-sm-7 col-xs-12">
                                <div class="checkbox-fade fade-in-primary">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                        <span class="text-inverse">{{ 'label.remember_me'|trans }}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                                <a href="#" class="text-right f-w-600 text-inverse"> {{ 'label.passwordforget'|trans }}?</a>
                            </div>
                            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">{{ 'label.login'|trans }}</button>
                            </div>
                        </div>
                        <hr/></div>
                </form>
                    <!-- end of form -->
                </div>
                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section> #}
</body>
</html>
