{% extends 'base.html.twig' %}

{% block page_content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ 'label.tenant_contrat'|trans }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">{{ 'label.tenant_contrat'|trans }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="card">
        <div class="card-body">
            <input hidden id="tenant" value="{{ tenant.id }}" class="hidden">
            {{ form_start(form) }}
            {{ form_row(form.typeRental) }}

            <div class="row">
                <div class="form-group">
                    <label for="locals_id">{{ 'dt.columns.locals'|trans }}</label>
                    <div class="row" id="locals_id">
                        {% for local in locals %}
                            <div class="col-md-3">
                                <label class=" control-label">{{ local }} ({{ local.adresse }})</label>
                                <div class="control-group">
                                    <input data-amount="{{ local.price }}" type="checkbox" name="{{ local.number }}"
                                           value="{{ local.id }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ form_row(form.amount) }}
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <div class="pull-right">
                <button type="reset" class="btn btn-warning "><i
                            class="nc-icon nc-simple-remove"></i> {{ 'button.cancel'|trans }}
                </button>
                <button type="button" class="btn btn-primary " id="save_ct"><i
                            class="nc-icon nc-simple-add"></i> {{ 'button.save'|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'tenant/javascript.html.twig' %}
{% endblock %}
