{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} - Dashboard {% endblock %}
{% block body %}

    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-cubes bg-c-blue card1-icon"></i>
                                <span class="text-c-blue f-w-600">{{ 'label.total_vente'|trans }}</span>
                                <h4>{{ totalsells }}</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted">
                                        <i class="text-c-blue f-16 icofont icofont-warning m-r-10"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card1 end -->
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-shopping-cart bg-c-pink card1-icon"></i>
                                <span class="text-c-pink f-w-600">{{ 'label.total_achats'|trans }}</span>
                                <h4>{{ totalbuys }}</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted">
                                        <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card1 end -->
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-listing-number bg-c-green card1-icon"></i>
                                <span class="text-c-green f-w-600">{{ 'label.total_creance'|trans }}</span>
                                <h4>{{ creances }}</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted">
                                        <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card1 end -->
                    <!-- card1 start -->
                    <div class="col-md-6 col-xl-3">
                        <div class="card widget-card-1">
                            <div class="card-block-small">
                                <i class="icofont icofont-users-social bg-c-yellow card1-icon"></i>
                                <span class="text-c-yellow f-w-600">{{ 'label.total_dette'|trans }}</span>
                                <h4>{{ dettes }}</h4>
                                <div>
                                    <span class="f-left m-t-10 text-muted">
                                        <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card1 end -->
                </div>
                <div class="row">
                    <!-- Statestics Start -->
                    <div class="col-md-12 col-xl-6">
                        <div class="card dribble-card">
                            <div class="card-header">
                                <i class="icofont icofont-social-dribbble"></i>
                                <div class="d-inline-block">
                                    <h5>{{ 'label.top_5_product'|trans }}</h5>
                                    <span></span>
                                </div>
                            </div>
                            <div class="card-block">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ 'label.product'|trans }}</th>
                                        <th>{{ 'dt.columns.quantity'|trans }}</th>
                                        <th>{{ 'dt.columns.amount'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in top_5_products %}
                                        <tr>
                                            <td>{{ order.name }}</td>
                                            <td>{{ order.quantity }}</td>
                                            <td>{{ order.total }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 col-xl-6">
                        <div class="card fb-card">
                            <div class="card-header">
                                <i class="icofont icofont-gears"></i>
                                <div class="d-inline-block">
                                    <h5>{{ 'label.top_5_commande'|trans }}</h5>
                                    <span>De la semaine</span>
                                </div>
                            </div>
                            <div class="card-block text-center">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th>{{ 'label.commandes'|trans }}</th>
                                        <th>{{ 'dt.columns.customer'|trans }}</th>
                                        <th>{{ 'dt.columns.amount'|trans }}</th>
                                        <th>{{ 'dt.columns.status'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in top_5_orders %}
                                        <tr>
                                            <td>{{ order.id }}</td>
                                            <td>{{ order.customer }}</td>
                                            <td>{{ order.total }}</td>
                                            <td>{{ order.status }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Email Sent End -->
                    <!-- Data widget start -->
                    {# <div class="col-md-12 col-xl-6">
                        <div class="card project-task">
                            <div class="card-header">
                                <div class="card-header-left ">
                                    <h5>Time spent : project &amp; task</h5>
                                </div>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="icofont icofont-simple-left "></i></li>
                                        <li><i class="icofont icofont-maximize full-card"></i>
                                        </li>
                                        <li><i class="icofont icofont-minus minimize-card"></i>
                                        </li>
                                        <li><i class="icofont icofont-refresh reload-card"></i>
                                        </li>
                                        <li><i class="icofont icofont-error close-card"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block p-b-10">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Project & Task</th>
                                            <th>Time Spents</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-blue d-inline-block text-center">
                                                        U</h6>
                                                    <p class="d-inline-block m-l-20">UI
                                                        Design</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="d-inline-block m-r-20">4 : 36</p>
                                                <div class="progress d-inline-block">
                                                    <div class="progress-bar bg-c-blue"
                                                         role="progressbar" aria-valuemin="0"
                                                         aria-valuemax="100" style="width:80%">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-pink d-inline-block text-center">
                                                        R</h6>
                                                    <p class="d-inline-block m-l-20">Redesign
                                                        Android App</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="d-inline-block m-r-20">4 : 36</p>
                                                <div class="progress d-inline-block">
                                                    <div class="progress-bar bg-c-pink"
                                                         role="progressbar" aria-valuemin="0"
                                                         aria-valuemax="100" style="width:60%">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-yellow d-inline-block text-center">
                                                        L</h6>
                                                    <p class="d-inline-block m-l-20">Logo
                                                        Design</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="d-inline-block m-r-20">4 : 36</p>
                                                <div class="progress d-inline-block">
                                                    <div class="progress-bar bg-c-yellow"
                                                         role="progressbar" aria-valuemin="0"
                                                         aria-valuemax="100" style="width:50%">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-green d-inline-block text-center">
                                                        A</h6>
                                                    <p class="d-inline-block m-l-20">Appestia
                                                        landing Page</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="d-inline-block m-r-20">4 : 36</p>
                                                <div class="progress d-inline-block">
                                                    <div class="progress-bar bg-c-green"
                                                         role="progressbar" aria-valuemin="0"
                                                         aria-valuemax="100" style="width:50%">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="task-contain">
                                                    <h6 class="bg-c-blue d-inline-block text-center">
                                                        L</h6>
                                                    <p class="d-inline-block m-l-20">Logo
                                                        Design</p>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="d-inline-block m-r-20">4 : 36</p>
                                                <div class="progress d-inline-block">
                                                    <div class="progress-bar bg-c-blue"
                                                         role="progressbar" aria-valuemin="0"
                                                         aria-valuemax="100" style="width:50%">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6">
                        <div class="card add-task-card">
                            <div class="card-header">
                                <div class="card-header-left">
                                    <h5>To do list</h5>
                                </div>
                                <div class="card-header-right">
                                    <button class="btn btn-card btn-primary">Add task</button>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="to-do-list">
                                    <div class="checkbox-fade fade-in-primary d-block">
                                        <label class="check-task d-block">
                                            <input type="checkbox" value="">
                                            <span class="cr">
                                                                        <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                                    </span>
                                            <span><h6>Schedule Meeting with Compnes <span
                                                            class="label bg-c-green m-l-10 f-10">2 week</span></h6></span>
                                            <div class="task-card-img m-l-40">
                                                <a href="#!"><img
                                                            src="assets/images/avatar-2.jpg"
                                                            data-toggle="tooltip"
                                                            title="Lary Doe" alt=""
                                                            class="img-40"></a>
                                                <a href="#!"><img
                                                            src="assets/images/avatar-3.jpg"
                                                            data-toggle="tooltip" title="Alia"
                                                            alt="" class="img-40 m-l-10"></a>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="to-do-list">
                                    <div class="checkbox-fade fade-in-primary d-block">
                                        <label class="check-task d-block">
                                            <input type="checkbox" value="">
                                            <span class="cr">
                                                                        <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                                    </span>
                                            <span><h6>Meeting With HOD's and borad</h6><p
                                                        class="text-muted m-l-40">23 january 2003</p></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="to-do-list">
                                    <div class="checkbox-fade fade-in-primary d-block">
                                        <label class="check-task d-block">
                                            <input type="checkbox" value="">
                                            <span class="cr">
                                                                        <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                                    </span>
                                            <span><h6>Create template, admin with responsive<span
                                                            class="label bg-c-pink m-l-10">2 week</span></h6></span>
                                            <div class="task-card-img m-l-40">
                                                <a href="#!"><img
                                                            src="assets/images/avatar-2.jpg"
                                                            data-toggle="tooltip" title="Alia"
                                                            alt="" class="img-40"></a>
                                                <a href="#!"><img
                                                            src="assets/images/avatar-3.jpg"
                                                            data-toggle="tooltip" title="Suzen"
                                                            alt="" class="img-40 m-l-10"></a>
                                                <a href="#!"><img
                                                            src="assets/images/avatar-4.jpg"
                                                            data-toggle="tooltip"
                                                            title="Lary Doe" alt=""
                                                            class="img-40 m-l-10"></a>
                                                <a href="#!"><img
                                                            src="assets/images/avatar-2.jpg"
                                                            data-toggle="tooltip"
                                                            title="Josephin Doe" alt=""
                                                            class="img-40 m-l-10"></a>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="to-do-list">
                                    <div class="checkbox-fade fade-in-primary d-block">
                                        <label class="check-task d-block">
                                            <input type="checkbox" value="">
                                            <span class="cr">
                                                                        <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                                    </span>
                                            <span><h6>Meeting With HOD's and borad</h6>
                                                                        <p class="text-muted m-l-40">23 january 2003</p></span>
                                            <div class="task-card-img m-l-40">
                                                <a href="#!"><img
                                                            src="assets/images/avatar-2.jpg"
                                                            data-toggle="tooltip"
                                                            title="Lary Doe" alt=""
                                                            class="img-40"></a>
                                                <a href="#!"><img
                                                            src="assets/images/avatar-3.jpg"
                                                            data-toggle="tooltip" title="Alia"
                                                            alt="" class="img-40 m-l-10"></a>
                                                <a href="#!"><img
                                                            src="assets/images/avatar-2.jpg"
                                                            data-toggle="tooltip"
                                                            title="Josephin Doe" alt=""
                                                            class="img-40 m-l-10"></a>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> #}
                    <!-- Data widget End -->

                </div>
            </div>
        </div>

        <div id="styleSelector">

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    </script>
{% endblock %}