<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} C-Manager{% endblock %}</title>

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/adminlte.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/select2/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {# {% block javascripts %}

        {% endblock %} #}
    {% block javascripts %}
        {# {{ parent() }} #}
        <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/adminlte.min.js') }}"></script>
        {#<script src="{{ asset('assets/js/demo.js') }}"></script>#}
        <script src="{{ asset('datatable/datatables.min.js') }}"></script>

        <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
        <script src="{{ asset('assets/plugins/sweetalert2/sweetalert2.all.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>

        <!-- DataTables  & Plugins -->
        <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        <script>

            $(document).ready(function () {
                $('.nav-sidebar').addClass('text-sm')
                $('body').addClass('text-sm layout-navbar-fixed layout-fixed layout-footer-fixed')
                $('.nav-sidebar').addClass('nav-flat')
                /*var elem=document.querySelector('.js-switch');
                var ini= new Switchery(elem);*/
                $(".selectpicker").select2(
                );
                //Initialize Select2 Elements
                $('.select2').select2()

                //Initialize Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })
            });

        </script>
    {% endblock %}
</head>
<body>
<div class="wrapper">

    {% include 'nav.html.twig' %}

    {% include 'siderbar.html.twig' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        {% if app.session and app.session.started and app.session.flashbag.peekAll|length > 0 %}
            <div class="row">
                <div class="col-sm-12">

                    {% include 'notification.html.twig' %}

                </div>
            </div>
        {% endif %}
        {% block page_content %}
        {% endblock %}
    </div>
        <!-- Control Sidebar -->
      {#  <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>#}
    <aside class="control-sidebar control-sidebar-dark">
        {% block controlsidebar %}
        {% endblock %}
    </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Immo-Manager
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2021 <a href="https://creativ-soft.com">Creativ-soft</a>.</strong> All rights
            reserved.
        </footer>

</div>
</body>
</html>
