<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('home') }}" class="brand-link">
      {#  <img src="{{ asset('assets/img/AdminLTELogo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
       #}
        <span class="brand-text font-weight-light text-uppercase">Immo-Manager</span>
    </a>
<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            {% if app.user.imageFilename is defined and app.user.imageFilename  is not null %}
                <img  class="img-circle elevation-2"
                     src="{{ asset('uploads/' ~ app.user.imageFilename) }}" title="my image"
                     alt="My image">
            {% else %}  <img  class="img-circle elevation-2"
                             src="{{ asset('assets/img/avatar.png') }}" title="my image"
                             alt="My image">
            {% endif %}
        </div>
        <div class="info" style="padding-top: 3px">
            <a href="#" class="d-block">{{ app.user }}</a>
            <a href="{{ path('security_logout') }}" class="fas fa-power-off"></a>
            <a href="{{ path('security_logout') }}" class="fas fa-users-cog"></a>
        </div>

    </div>

        <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {% if configuration.mode == "Simple"  %}
            <li class="nav-item">
                <a href="{{ path('home') }}" {% if app.request.attributes.get( '_route' ) starts with 'home' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        {{ 'menu.dashboard'|trans({}, 'messages') }}
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('local_index') }}" {% if app.request.attributes.get( '_route' ) starts with 'local_' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                        {{ 'menu.local'|trans({}, 'messages') }}
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('tenant_index') }}" {% if app.request.attributes.get( '_route' ) starts with 'tenant_' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        {{ 'menu.tenant'|trans({}, 'messages') }}
                    </p>
                </a>
            </li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'rental_' %}class="nav-item menu-open"{% else %}class="nav-item"{% endif%}>
                <a href="#" {% if app.request.attributes.get( '_route' ) starts with 'rental_' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                    <i class="nav-icon fas fa-money-bill"></i>
                    <p>
                        {{ 'menu.rental'|trans({}, 'messages') }}
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ path('rental_index') }}" {% if app.request.attributes.get( '_route' ) starts with 'rental_index' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.rental_list'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('rental_make_all') }}" {% if app.request.attributes.get( '_route' ) starts with 'rental_make_all' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.generate_rental_all'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('rental_new') }}" {% if app.request.attributes.get( '_route' ) starts with 'rental_new' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.generate_rental_one'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('rental_relance_index') }}" {% if app.request.attributes.get( '_route' ) starts with 'rental_relance_index' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.rental_relance'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'facture_' %}class="nav-item menu-open"{% else %}class="nav-item"{% endif%}>
                <a href="#" {% if app.request.attributes.get( '_route' ) starts with 'facture_' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                    <i class="nav-icon fas fa-credit-card"></i>
                    <p>
                        {{ 'menu.bill'|trans({}, 'messages') }}
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ path('facture_index') }}" {% if app.request.attributes.get( '_route' ) starts with 'facture_index' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.bill_list'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('facture_new') }}" {% if app.request.attributes.get( '_route' ) starts with 'facture_new' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.bill_new'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li {% if app.request.attributes.get( '_route' ) starts with 'depense_' %}class="nav-item menu-open"{% else %}class="nav-item"{% endif%}>
                <a href="#" {% if app.request.attributes.get( '_route' ) starts with 'depense_' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                    <i class="nav-icon fas fa-plus-square"></i>
                    <p>
                        {{ 'menu.depenserevenu.header'|trans({}, 'messages') }}
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ path('depense_index') }}" {% if app.request.attributes.get( '_route' ) starts with 'depense_index' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.depenserevenu.depense'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('depense_type_index') }}" {% if app.request.attributes.get( '_route' ) starts with 'depense_type_index' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.depenserevenu.type'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if configuration.mode == "Advanced"  %}
            {% for site in sites %}
                {% set site_id = site.id  %}
                <li class="nav-item">
                  {#  {% if app.request.attributes.get( '_route_params') is not empty %}#}
                    <a href="{{ path('site_show',{'id':site.id}) }}" {% if app.request.attributes.get( '_route_params') is not empty and app.request.attributes.get( '_route_params' )['id'] == site_id %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                        <i class="nav-icon fas fa-neuter"></i>
                        <p>
                            {{ site.libelle }}
                        </p>
                    </a>
                   {# {% endif %}#}
                </li>
            {% endfor %}
                <li class="nav-item">
                    <a href="{{ path('site_new') }}" {% if app.request.attributes.get( '_route' ) starts with 'site_new' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                        <i class="nav-icon fas fa-network-wired"></i>
                        <p>
                            {{ 'menu.site'|trans({}, 'messages') }}
                        </p>
                    </a>
                </li>
            {% endif %}
            <li {% if app.request.attributes.get( '_route' ) starts with 'rapport_' %}class="nav-item menu-open"{% else %}class="nav-item"{% endif%}>
                <a href="#" {% if app.request.attributes.get( '_route' ) starts with 'rapport_' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                        {{ 'menu.rapport.header'|trans({}, 'messages') }}
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ path('rapport_tauxoccupation') }}" {% if app.request.attributes.get( '_route' ) starts with 'rapport_tauxoccupation' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.rapport.taux_occupation'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('rapport_depense') }}" {% if app.request.attributes.get( '_route' ) starts with 'rapport_depense' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                            <i class="fas fa-minus nav-icon"></i>
                            <p> {{ 'menu.rapport.depense'|trans({}, 'messages') }}</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="{{ path('configuration_edit') }}" {% if app.request.attributes.get( '_route' ) starts with 'configuration_edit' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                    <i class="nav-icon fas fa-cogs"></i>
                    <p>
                        {{ 'menu.configuration'|trans({}, 'messages') }}
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('user_index') }}" {% if app.request.attributes.get( '_route' ) starts with 'user_index' %} class="nav-link active" {% else %}class="nav-link"{% endif%}>
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        {{ 'menu.users'|trans({}, 'messages') }}
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>
