{% extends 'base.html.twig' %}

{% block page_title %}{{ 'label.bills'|trans }}{% endblock %}

{% block page_content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">{{ 'label.bills'|trans }}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">{{ 'label.bills'|trans }}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="card">
        <div class="card-header">
            <div class="card-header">
                <div class="btn-group btn-group-sm float-right">
                    <a class="btn btn-warning float-right"
                       href="#" target="_blank"><i class="fa fa-print"></i> {{ 'button.print'|trans }}</a>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive">
            <div class="table-striped" id="bills">{{ 'loading'|trans({}, 'messages') }}</div>
        </div></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function () {
            $('#bills').initDataTables({{ datatable_settings(datatable) }});
        });
    </script>
    {% include 'facture/javascript.html.twig' %}
{% endblock %}